<!DOCTYPE html>
<html>
  <head>
    <title>FunTrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.jpg') %>";
      window.splash_hiker = "<%= image_url('splash_hiker.jpg') %>";
      window.user_prof = "<%= image_url('user_prof.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
