<!DOCTYPE html>
<html>
  <head>
    <title>FunTrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
      window.splash_hiker = "<%= image_url('splash_hiker.jpg') %>";
      window.user_prof = "<%= image_url('user_prof.png') %>";
      window.dropdown = "<%= image_url('dropdown.png') %>";
      window.search = "<%= image_url('search.png') %>";
      window.green_arrow = "<%= image_url('green_arrow.png') %>";
      window.stars = "<%= image_url('stars.png') %>";
      window.star = "<%= image_url('star.svg') %>";
      window.hikers = "<%= image_url('hikers.jpg') %>";
      window.confidence = "<%= image_url('confidence.png') %>";
      window.app_store = "<%= image_url('app_store.png') %>";
      window.app_preview_1 = "<%= image_url('app_preview.png') %>";

      window.hiking_card = "<%= image_url('hiking_card.png') %>";
      window.mtn_biking = "<%= image_url('mtn_biking.png') %>";
      window.running_card = "<%= image_url('running_card.png') %>";
      window.dogs_card = "<%= image_url('dogs_card.png') %>";
      window.wheelchair_card = "<%= image_url('wheelchair_card.png') %>";
      window.biking_card = "<%= image_url('biking_card.png') %>";

      window.planet = "<%= image_url('planet.svg') %>";
      window.one_tree = "<%= image_url('one_tree.svg') %>";
      window.leave_no_trace = "<%= image_url('leave_no_trace.svg') %>";
      window.app_foot = "<%= image_url('appstore_foot.png') %>";
      window.google_play = "<%= image_url('google_play.png') %>";
      window.linkedin = "<%= image_url('linkedin.png') %>";
      window.github = "<%= image_url('github.png') %>";

      window.dispea_main = "<%= image_url('dipsea_main.jpg') %>";
      
    </script>

    

  </head>

  <body>
    <%= yield %>
  </body>
</html>
